<%= simple_form_for :new_user, url: quick_start_path do |f| %>
  <div id="step-content">

    <h2>Web Links</h2>
    <h4>Please select the website links you want to have in your app. You can add more or edit these later.</h4>

    <p>Step 3 of 4: Select app links</p>

    <% @web_links.each.with_index do |link, i| %>
      <div class="form-group">
        <%= f.simple_fields_for 'web_links[]', i do |lf| %>
          <%= lf.input :show, as: :boolean, input_html: {checked: true}, wrapper: :ib1 %>
          <%= lf.input :title, input_html: {value: link.title}, wrapper: :if4, required: false  %>
          <%= lf.input :url, as: :url, input_html: {value: link.link}, wrapper: :if7 %>
        <% end %>
      </div>
    <% end %>

    <%= button_tag "Continue", type: 'button', class: 'wizard-next-step-button btn btn-default' %>
  </div>
<% end %>
