<%= simple_form_for location, url: extensions_contact_us_locations_path, remote: true, defaults: {wrapper: :if4} do |f| %>
  <%= resource_error_messages! location %>

  <div class="form-group">
    <%= f.input :name, placeholder: "Location name" %>
    <%= f.input :street_line_one, placeholder: "Street address" %>
    <%= f.input :city, placeholder: "City" %>
  </div>
  <div class="form-group">
    <%= f.input :state, placeholder: "State" %>
    <%= f.input :postal_code, placeholder: "Postal code" %>
  </div>
  <div class="form-group">
    <%= f.input :email, placeholder: "Email address" %>
    <%= f.input :phone_number, placeholder: "Phone number" %>
    <%= f.input :image %>
  </div>

  <%= f.button :submit, "Save changes" %>
<% end %>
