<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
<head>
  <%= render 'layouts/head' %>
</head>
<body class="theme-clean no-main-menu">

  <div id="main-wrapper">
    <%= render 'layouts/navigation', only_logo: true %>

    <div id="content-wrapper" class="<%= controller_name %>">
      <%= render partial: "shared/flash_messages", flash: flash %> 
      <%= yield %>
    </div>
  </div> <!-- / #main-wrapper -->

  <%= render 'layouts/analytics' %>

</body>
</html>